<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>harshadura</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

    <!-- Required Modules -->
    <require_modules>

        <require_module version="2.1.1">org.openmrs.module.htmlformentry</require_module>
        <require_module version="4.2.1.0">org.openmrs.module.xforms</require_module>

    </require_modules>
    <!-- / Required Modules -->

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PatientNarrativesActivator</activator>
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>


    <extension>
        <point>org.openmrs.gutter.tools</point>
        <class>org.openmrs.module.patientnarratives.extension.html.GutterListExt</class>
    </extension>


    <dwr>
        <allow>
            <create creator="new" javascript="DWRreCaptchaService">
                <param name="class" value="org.openmrs.module.patientnarratives.dwr.DWRreCaptchaService"/>
                <include method="validateCaptcha"/>
            </create>
        </allow>

        <signatures>
            <![CDATA[
				import org.openmrs.module.patientnarratives.dwr.DWRreCaptchaService;
				DWRreCaptchaService.validateCaptcha(String challenge, String uresponse, String remoteip);
			]]>
        </signatures>
    </dwr>

    <!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> -->
    <servlet>
        <servlet-name>filesDownloadServlet</servlet-name>
        <servlet-class>org.openmrs.module.patientnarratives.web.servlet.FileServlet</servlet-class>
    </servlet>

    <!-- Required Privileges -->
    <privilege>
        <name>Add Patient Narratives</name>
        <description>Able to submit Patient Narratives</description>
    </privilege>

    <privilege>
        <name>Manage Patient Narratives</name>
        <description>Able to manage the Patient Narratives</description>
    </privilege>

    <privilege>
        <name>Configure Patient Narratives</name>
        <description>Able to admin the Patient Narratives Module</description>
    </privilege>
    <!-- /Required Privileges -->

    <!--<extension>-->
		<!--<point>org.openmrs.headerFullIncludeExt</point>-->
		<!--<class>${project.parent.groupId}.${project.parent.artifactId}.api.extension.html.HeaderInclude</class>-->
	<!--</extension>-->

	<!-- Maps hibernate file's, if present -->
    <mappingFiles>
        ${omodHbmConfig}
    </mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

